#helloSirpa {
    text-align: left;
    font-size: 15px;
    color: white;
    margin-top: -50px;
    margin-left: 15px;
}

#user-info {
    color: red;
    font-size: 27px;
    line-height: 1em;
}

.mediaCardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.mediaCard {
    box-sizing: border-box;
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin: 10px;
    border: 5px solid deeppink;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    /*
    background-image: repeating-radial-gradient(whitesmoke, white 1%, navajowhite 1%);
    overflow: auto;
     */

}

.commentcontainer {
    height: 75px;
    overflow: auto;
}

.mediaCard img {
    max-width: 100%;
}

.mediaCard .cardTop {
    font-size: 15pt;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
}

.mediaCard p {
    padding: 0 5px 0 10px;
    margin: 0;
    line-height: normal;
    text-align: left;
}

.mediaCard p span:first-of-type {
    font-weight: bold;
}

.mediaCard button {
    background: #EDE574;
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);
    background: linear-gradient(to right, #E1F5C4, #EDE574);
    border: 0;
    color: black;
    padding: 10px;
    font-size: 15px;
}


.commentPost p span:first-of-type {
    font-weight: bold;
    text-align: left;
}

.commentPost p:nth-child(3) {
    display: inline-block;
}

.commentPost p:nth-child(4) {
    display: inline-block;
}


.deleteCommentButton {
    color: white;
    background-color: red;
}

.approveCommentButton {
    color: white;
    background-color: green;
}

.commentPopup {
    display: block;
    visibility: hidden;
    position: fixed;
    right: 40%;
    bottom: 50%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

#commentInput {
    text-align: left;
    padding: 2px;
    resize: none;
}



.close {
    cursor: pointer;
    position: absolute;
    top: 5em;
    right: 5em;
    padding: 16px 16px;
    transform: translate(105%, -140%);
    color: #fff;
    text-shadow: #000;
    font-size: 2em;
    border-radius: 100%;
}

.close:hover {
    color: red;
}

.close2 {
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 0%;
    padding: 16px 16px;
    transform: translate(75%, -75%);
    font-size: 17px;
    color: black;
    border-radius: 100%;
    text-align: center;
}

.close2:hover {
    color: white;
}

li {
    color: black;
}

.commentForm {
    max-width: 300px;
    padding: 10px;
    background-color: black;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*
    font-family: 'Baloo Tammudu 2', cursive;
    font-family: "Baskerville", serif;
     */

    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFEFBA, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFEFBA, #FFFFFF, #FFEFBA);
}

.frontPageBox {
    width: 40%;
    height: auto;
    color: #565656;
    text-align: center;
    margin: 13% auto;
    border-style: dashed;
    border-width: 5px;
    border-color: skyblue;
    background-image: repeating-radial-gradient(ghostwhite, papayawhip 1%, #E7E5E3 1%);
}

p {
    line-height: 2em;
    text-align: center;
    color: #565656;
    font-size: 15px;

}

.container {
    max-width: 200px;
    margin: auto;
}

.light-border {
    border-radius: 8px;
    line-height: 2em;
    padding: 1em;
    box-sizing: border-box;
    width: 90%;
    margin: auto 4%;
    display: block;
    flex-direction: column;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
}

li {

    margin: .5em;
}

figure {
    margin: 0;
    padding: 0;
}

.resp {
    width: 100%;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-wrapper {
    width: 33%;
    margin: auto;
}

input, button, select {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}

select {
    line-height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

img {
    color: red;
}


button {
    background: #EDE574;
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);
    background: linear-gradient(to right, #E1F5C4, #EDE574);
    color: black;
}

#getOut {
    margin: auto;
}

.hide {
    display: none !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .5);
}

.modal img {
    display: block;
    width: 100%;
    /*
    height: 80vh;
     */
    margin: auto;
    padding-top: 10vh;
}



#map {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    width: 30vw;
    height: 30vh;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA, #0ED2F7);
    background: linear-gradient(to right, #0ED2F7, #B2FEFA, #0ED2F7);
    color: white;
    text-align: right;
    font-size: 0;
}

#header1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #B2FEFA;
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA, #0ED2F7);
    background: linear-gradient(to right, #0ED2F7, #B2FEFA, #0ED2F7);
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
    height: 6%;
}

.tuokio {
    color: white;
    font-size: 35px;
    margin-top: -13px;
    font-family: 'Lobster', cursive;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #B2FEFA;
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA), #0ED2F7;
    background: linear-gradient(to right, #0ED2F7, #B2FEFA, #0ED2F7);
    color: white;
    text-align: center;
    height: 8%;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 25px;
}

.last {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 10px;
    alignment: center;

}

#mod-cat-form {
    visibility: hidden;
}


.buttonDown {
    height: 90px;
    width: 90px;
    border-radius: 100px;
    bottom: -150px;
    margin: -15% auto;
    background: #ffb347;
    background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
    background: linear-gradient(to right, #ffcc33, #ffb347);
    font-size: 17px;
    color: gray;
    border-style: dot-dot-dash;
    border-width: 5px;
    /*
    background-image: repeating-radial-gradient( orange,  blue 1%, #E7E5E3 1%);
     */
}

.buttonDown:hover {
    background-color: ghostwhite;
    color: deeppink;
}

.dropbtn {
    background: #ffe259;
    background: -webkit-linear-gradient(to left, #ffa751, #ffe259);
    background: linear-gradient(to left, #ffa751, #ffe259);
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    width: 160px;
    height: 100%;
    margin: 0;
    transition: all 0.7s;
}

.dropdown {
    font-size: 0;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #ffe259;
    background: -webkit-linear-gradient(to left, #ffa751, #ffe259);
    background: linear-gradient(to left, #ffa751, #ffe259);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropbtn {
    color: #3e8e41;
    background-color: ghostwhite;
}

.dropbtn2 {
    background-color: #4CAF50;
    color: white;
    padding: 0px;
    font-size: 17px;
    border: none;
    width: 130px;
    height: 100%;

    margin: 0;
    transition: all 0.7s;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ccc
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn2 {
    background-color: lightskyblue;
}

.show {
    display: block;
}

#choose {
    display: none;
}

#teacherFeed {
    display: none;
}

#gameView {
    display: none;
}

#addMedia {
    display: none;
}

#addUser {
    display: none;
}

.center {
    margin: auto;
}


.parent {
    margin-top: 3%;
    height: 92vh;
    border: 0px solid darkgrey;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.child1 {
    background-image: repeating-radial-gradient(gold, goldenrod 1%, #E7E5E3 1%);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child2 {
    background-color: green;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("../img/maa_ja_avaruus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.kuussa {
    border: 5px solid ghostwhite;
}

.kuussa:hover {
    -webkit-filter: none;
    filter: none;
}

.imgkuu {
    width: 15%;
    height: auto;
}

.imgkuu:hover {
    filter: contrast(150%);
    z-index: 15;
}

.imgkapseli {
    width: 21%;
    height: auto;
    padding: 5px;
}

.imgkapseli:hover {
    filter: contrast(150%);
    z-index: 15;
}

.imgkirahvi {
    width: 30%;
    height: auto;
}

.imgkirahvi:hover {

    filter: contrast(150%);
    z-index: 15;
}

.imghiiri {
    width: 15%;
    height: auto;
}

.imghiiri:hover {

    filter: contrast(150%);
    z-index: 15;
}

.imgkala {
    width: 20%;
    height: auto;

}

.imgkala:hover {

    filter: contrast(150%);
    z-index: 15;
}


.ylak {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}

.keskik {
    display: flex;
    flex: 2;
    flex-shrink: 0;
    align-items: flex-start;


}

.alak {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 300px;
    height: 400px;
    box-shadow: black 10px 10px 10px;

}

.card2 {
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card3 {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.onTop1 {
    flex: 1;

    z-index: 5;
    width: 50%;
}

.bottom {
    bottom: 20px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: black;
    background: none;
    font-size: 19px;
    font-style: normal;
    text-align: center;
    border: none;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow:hover {
    border: solid orange;
    border-width: 0 2px 2px 0;
}

section button:first-child {
    display: none;
}

section:hover button:first-child {
    display: block;
}

section:hover button:last-child {
    display: none;
}

#game1 {
    display: none;
}

#game2 {
    display: none;
}

canvas {
    display: none;
    margin: 9% auto;
    border-color: grey;
    border-radius: 5px;
    border-style: groove;
    border-width: 5px;
    background: #ffffff repeating-radial-gradient(white, ghostwhite 1%, #E7E5E3 1%);
}

.button2 {
    font-family: 'American Typewriter', serif;
    font-size: 17px;
    line-height: 2em;
    border-radius: 10px;
    width: 175px;
    margin-top: 10%;
    padding: 2%;
}

div {
    text-align: center;
}

.buttonG1 {
    font-size: 17px;
    width: 200px;
    height: auto;
    border-radius: 5px;
    background: linear-gradient(to right, deeppink, deeppink, deeppink);
    margin: 10% auto;
    display: block;
    color: ghostwhite;
    padding: 5px;
}

.buttonG2 {
    width: 90%;
    height: 100px;
    font-size: 17px;
    border-width: 5px;
    border-style: dashed;
    background-image: repeating-radial-gradient(lightskyblue, grey 1%, #E7E5E3 1%);
    color: ghostwhite;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#storyBoard {
    margin: 10% auto;
    width: 400px;
    height: auto;
    /*
    height: 550px;
     */
    overflow: auto;
    background-color: ghostwhite;
}

#storyP {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 21px;
    font-family: 'Orbitron', sans-serif;
    color: dimgray;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
}

input {
    font-size: 12px;
}

/* nav toggle */
.nav-toggle {
    cursor: pointer;
    height: 2rem;
    right: 0.5rem;
    position: fixed;
    top: 0.1rem;
    width: 2.6rem;
    z-index: 2;
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #5c5c5c;
    content: "";
    height: 0.3rem;
    transition: all 0.5s;
    width: 100%;
    color: black;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.55rem;
    margin-left: -1.3rem;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.6rem;
    margin-left: -1.3rem;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: #ffffff;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* nav */
.nav {
    background: #B2FEFA;
    background: -webkit-linear-gradient(to left, #0ED2F7, #B2FEFA);
    background: linear-gradient(to left, #0ED2F7, #B2FEFA);
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 100vh;
    right: -20rem;
    /*padding: 6rem 2rem 2rem 2rem;*/
    position: fixed;
    top: 0;
    transition: all 0.5s;
    /*width: 20rem;*/
    z-index: 1;
}

.nav.expanded {
    right: 0;
}

.nav ul {
    list-style: none;
    margin-top: 30%;
}

@media only screen and (max-width: 1200px) {
    .imgkirahvi {
        margin: 15% 3%;
    }
}


@media only screen and (max-width: 1100px) {

    .card2 {
        width: 351px;
        height: 351px;
    }

    .imgkirahvi {
        margin: 25% 3%;
    }

    .dropbtn {
        width: 140px;
        font-size: 12px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }


    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 10px;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 10px;
    }

    :-ms-input-placeholder { /* IE 10+ */
        font-size: 10px;
    }

    
    :-moz-placeholder { /* Firefox 18- */
        font-size: 10px;
    }

    input {
        font-size: 11px;
    }

    p {
        font-size: 15px;
    }

    #storyBoard {
        margin: 15% auto;
    }

    .commentPopup {
        right: 40%;
    }


    @media only screen and (max-width: 775px) {

        .parent {
            flex-direction: column;
            height: 93vh;
        }

        .child1 {
            display: none;
        }
    }

    h2 {
        font-size: 23px;
        color: black;
    }

    li {
        color: ghostwhite;
    }

    #gradientti1 {
        background-color: beige;
        background-image: repeating-radial-gradient(gold, goldenrod 1%, #E7E5E3 1%);

        /*
        background-image: repeating-radial-gradient(darkgoldenrod, goldenrod 1%, palegoldenrod 1%);
        background-image: linear-gradient(to bottom, darkgoldenrod, beige);
         */
    }

    .imgkirahvi {
        width: 33%;
        margin-top: 30%;
    }

    .dropbtn {
        width: 135px;
        font-size: 12px;
    }

    .dropbtn2 {
        font-size: 13px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 135px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 9px;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 9px;
    }

    :-ms-input-placeholder { /* IE 10+ */
        font-size: 9px;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-size: 9px;
    }

    input {
        font-size: 10px;
    }


    p {
        font-size: 13px;
    }

    .frontPageBox {
        width: 55%;
    }

    #storyBoard {
        margin: 20% auto;

    }

    .commentPopup {
        right: 35%;
    }

    .modal {
        width: 100%;
    }

}

@media only screen and (max-width: 650px) {
    .parent {
        flex-direction: column;
        height: 93vh;
    }

    .child1 {
        display: none;
    }

    .frontPageBox {
        margin-top: 23%;
    }
}




@media only screen and (max-width: 550px) {

    .mediaCard {
        width: 350px;
        margin: 10px;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        background-image: repeating-radial-gradient(whitesmoke, white 1%, navajowhite 1%);
        overflow: auto;
    }

    .mediaCard .cardTop {
        font-size: 13pt;
        font-weight: bold;
        padding: 0 20px;
        text-align: center;
    }

    .dropbtn {
        width: 115px;
        font-size: 10px;
    }

    .dropbtn2 {
        font-size: 10px;
        width: 115px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 115px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropup-content {
        min-width: 125px;
    }

    h2 {
        font-size: 17px;
        margin-top: 17%;
    }

    .imgkirahvi {
        width: 33%;
        margin: 15% 1%;
    }

    .button2 {
        margin-top: 130%;
    }

    .buttonDown {
        font-size: 13px;
        width: 70px;
        height: 70px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 8px;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 8px;
    }

    :-ms-input-placeholder { /* IE 10+ */
        font-size: 8px;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-size: 8px;
    }

    input {
        font-size: 9px;
    }

    p {
        font-size: 12px;
    }

    .frontPageBox {
        width: 65%;
    }


    #storyP {
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 19px;
        font-family: 'Orbitron', sans-serif;
        color: dimgray;
    }

    #myCanvas {
        height: 565px;
        margin-top: 59px;
    }

    #storyBoard {
        margin: 25% auto;
        width: 370px;
        height: auto;
        /*
        height: 550px;
         */
        overflow: auto;
        background-color: ghostwhite;
    }

    .commentPopup {
        right: 15%;
    }

    .modal {
        width: 100%;
    }

}

@media only screen and (max-width: 400px) {
    #myCanvas {
        height: 555px;
        margin-top: 49px;
    }
}

@media only screen and (min-height: 700px) and (max-width: 400px) {
    #myCanvas {
        height: 645px;
        margin-top: 43px;
        width: 360px;
    }

    #storyBoard {
        width: 350px;
        height: auto;
        /*
        height: 550px;
         */
        overflow: auto;
        background-color: ghostwhite;
    }
}

@media only screen and (min-height: 700px) and (max-width: 361px) {
    #myCanvas {
        height: 635px;
        margin-top: 43px;
        width: 360px;
    }

    #storyBoard {
        width: 350px;

    }
}

.show {
    display: block;
}